.container {
  display: flex;
  align-items: center;
}

.subtitle{
  max-width: 500px;
  font-weight: 300;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.icon-homepage {
  margin-right: 10px;
}

.button {
  display: flex;
  align-items: center;
  background-color: #B39DDB;
  color: white;
  padding: 10px 30px;
  border-radius: 90px;
  border: none;
  cursor: pointer;
  font-size: large;
  gap: 5px;
}