.container {
  display: flex;
  align-items: center;
}

.subtitle{
  max-width: 500px;
  font-weight: 250;
  color: #dcdcdc;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 12px;
  border: 2px solid white;
  cursor: pointer;
  font-size: large;
  gap: 0.1rem;
  width: 8rem;
  height: 3rem;
}

.button:hover {
  background-color: #A3784E;
  border: 2px solid #A3784E;
}

.button .icon {
color: black;
}

.button span {
  color: black;
  font-family: 'Albert Sans';
  font-weight: 500;
}
