.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.subtitle{
  max-width: 500px;
  font-weight: 100;
}

.image{
  width: 200px;
  height: 100px;
}

.images-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.images-container img{
  width: 100px;
  height: 100px;
}
.buttons-container {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 10px;
}
button {
  background-color: white;
  color: black;
  padding: 10px 30px;
  border: none;
  border-radius: 90px;
  cursor: pointer;
  width: 200px;
  height: 30px;
  font-family: 'Courier Prime';
}
