.footer {
  background-color: #8b472a; /* Fondo marrón oscuro */
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  display: flex;
  gap: 10px;
}

.footer-content span {
  color: white;
  font-family: 'Albert Sans';
}
.email-button {
  display: flex;
  align-items: center;
  background-color: #9a77b4;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  gap: 5px;
}

.email-button .icon {
  width: 30px;
  height: 30px;
}


.copy-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9a77b4;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.copy-button:hover {
  background-color: #7d5997;
}

.copy-button:active {
  background-color: #694d7c; /* Color más oscuro al presionar */
}

.copy-button .icon {
  width: 30px;
  height: 30px;
}
